header {
  text-align: center;
}
main {
  background-color: blue;
  margin: 50px 500px;
  padding: 5px 100px;
}
footer {
  text-align: left;
  margin: 100px 500px;
  padding: 5px 300px;
  border: 15px ridge brown;
}
/* calsses for coloms */
.coloms {
  display: flex;
}
.colom {
  padding: auto 5px;
  text-align: center;
}
/* classes for images */
.chris {
  text-align: center;
}
.protagonist {
  text-align: center;
}
.pie-chart {
  text-align: center;
}
/* classes for text */
.homepage {
  background-color: purple;
}
.project-idea {
  background-color: black;
}
.references {
  background-color: white
}
.navigavtion-header {
  font-size: 25px;
  color: green;
}
.navigavtion-links {
  text-align: left;
  font-size: 16px;
  color: green;
}
.homepage-header {
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 60px;
  color: red;
}
.homepage-subheader {
  text-align: center;
  font-size: 35px;
  color: lightgreen;
}
.info-header {
  font-size: 25px;
  color: yellow;
  border-bottom: 5px solid grey;
}
.small-header {
  text-align: center;
  font-size: 18px;
  color: red;
}
.white-text {
  font-size: 18px;
  color: white;
}
.project-idea-header {
  text-align: center;
  font-size: 35px;
  color: yellow;
}
.project-idea-subheader {
  font-size: 20px;
  color: green;
  border-bottom: 2px solid lightblue;
}
.project-text {
  margin: 15px;
  padding: 15px;
}
.references-header {
  text-align: center;
  font-size: 40px;
  color: black;
}
.black-text {
  font-size: 18px;
  color: black;
  padding: 18px auto;
  text-align: initial;
}
.reference-text {
  padding: 50px 200px;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
}
